#firstPlayerForm {
    display: none;
}

#twoPlayerForm {
    display: none;
}

.square {
    border: 1px solid black;
}

#board, #board1 {
    margin: 20px;
    display: grid;
    width: 40%;
    height: 500px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}
.flex {
    display: flex;
}