body {
    margin: 0;
    padding: 0;
}

#firstPlayerForm, #placementForm, #twoPlayerForm {
    display: none;
}

.square {
    border: 1px solid black;
}

#board, #board1 {
    margin: 20px;
    display: grid;
    width: 40%;
    height: 500px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#placementBoard {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}


.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

#fiveShip {
    width: 250px;
    height: 50px;
}

#fourShip {
    width: 200px;
    height: 50px;
}

#threeShip {
    width: 150px;
    height: 50px;
}

#threeShipTwo {
    width: 150px;
    height: 50px;
}

#twoShip {
    width: 100px;
    height: 50px;
}

.red {
    background-color: red;
}
.flex {
    display: flex;
}

#testDiv {
    margin: 0 auto;
    width: 500px;
    position: relative;
}

.rotate {
    transform: rotate(90deg);
}